@model places4all.Models.ReportProblem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReportProblem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProblemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProblemDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProblemPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProblemPhoto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReportProblemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
