@model IEnumerable<places4all.Models.User>

@{
    ViewBag.Title = "Index";
}
<head>
    @Styles.Render("~/Content/MyProfile/css")
    @Scripts.Render("~/Scritps/MyProfile/js")
</head>



<script>
    $(document).ready(function () {
        $(".langSelector").click(function () {
            $.cookie('p4alllang', 'pt-PT', { expires: new Date(2500, 1, 1), path: '/' });
            return true;
            $.ajax({
                url: "/LanguageServerErrorsUtils/SetLanguage/pt",
                type: "POST",
                dataType: 'text',
                contentType: "application/json",
                success: function (response) {
                    location.reload();
                }
            });
        });
    });

</script>

<script type="text/javascript">

    $("#deleteAcc").confirm({
        title: "Confirm your operation",
        text: "Are you sure you want to delete your account?",
        confirm: function (button) {

            var checked = $("#IsVisibleSelected").is(":checked");
            var model = {
                ID: "110025"

            }
            //var but = button.attr('value');

            var post = { um: model, button: "deleteAccount" };

            $.ajax({
                type: "POST",

                url: "/p4all/Auth/UserPage/110025",
                contentType: "application/json;",
                data: JSON.stringify(post),
                success: function (d) {
                    location.reload();
                },
                error: function (xhr, textStatus, errorThrown) {

                }
            })
        },
        cancel: function (button) {

        },
        confirmButton: "Yes",
        cancelButton: "No"
    });


    $("#removeFavoritSpace").confirm({
        title: "Confirm your operation",
        text: "Are you sure you want to remove this place of your favorites?",
        confirm: function (button) {

            var checked = $("#IsVisibleSelected").is(":checked");
            var model = {
                ID: "110025",
                Name: "Diogo Barroso",
                IsVisibleSelected: checked
                }
            var but = button.attr('value');

            var post = { um: model, button: but};

            $.ajax({
                type: "POST",

                url: "/p4all/Auth/UserPage/110025",
                contentType: "application/json;",
                data: JSON.stringify(post),
                success: function (d) {
                    location.reload();
                },
                error: function (xhr, textStatus, errorThrown) {

                }
            })
        },
        cancel: function (button) {

        },
        confirmButton: "Yes",
        cancelButton: "No"
    });
</script>

<script src="./my_profile_files/jquery-1.11.0.min.js"></script>
<script src="./my_profile_files/bootstrap.min.js"></script>
<script src="./my_profile_files/jquery.confirm.js"></script>
<!--
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassHash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Newsletter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastAccessDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthProvider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExternalId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsVisible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auditor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassHash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Newsletter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastAccessDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthProvider)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExternalId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsVisible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Auditor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
        </td>
    </tr>
}

</table>


-->



<body>
    <div class="container-fluid header">

        <!-- Navigation -->
        <div class="row visible-xs">

            <div class="col-xs-12">
                <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">

                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="http://places4all.com/p4all/Auth/Logout?returnUrl=%2Fp4all%2FAuth%2FUserPage%2F110025">Logout</a></li>
                        <li><a href="./my_profile_files/my_profile.html">Welcome, Diogo Barroso</a></li>

                        <li class=""><a href="./my_profile_files/my_profile.html" class="langSelector">Português</a></li>
                        <li><a href="http://places4all.com/p4all/AdhereNetwork/AdhereNetwork" class="btn btn-primary">Add place</a></li>
                    </ul>
                </nav>

                <div class="navbar navbar-default navbar-fixed-top clearfix">
                    <div class="logo pull-left show-xs">
                        <a href="http://places4all.com/">
                            <img src="./my_profile_files/logo-small.png" alt="Places4All" class="img-responsive">
                        </a>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row hidden-xs">

            <div class="logo small col-sm-2 col-lg-1">
                <a href="http://places4all.com/">
                    <img src="./my_profile_files/logo-small.png" alt="Places4All" class="img-responsive">
                </a>
            </div>

            <div class="col-xs-6 col-sm-10 col-lg-11">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- <a class="navbar-brand" href="index.php">Places4All</a> -->
                        </div>
                        <form action="http://places4all.com/p4all/search" method="get">
                            <div class="navbar-form navbar-left hidden-sm" role="search">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                    <input type="text" class="form-control" id="search" name="q" placeholder="What are you looking for?" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </form>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">


                                <li><a href="http://places4all.com/p4all/Auth/Logout?returnUrl=%2Fp4all%2FAuth%2FUserPage%2F110025">Logout</a></li>
                                <li><a href="./my_profile_files/my_profile.html">Welcome, Diogo Barroso</a></li>




                                <li class=""><a href="./my_profile_files/my_profile.html" class="langSelector">Português</a></li>
                                <li>
                                    <form class="navbar-form">
                                        <a href="http://places4all.com/p4all/AdhereNetwork/AdhereNetwork" class="btn btn-primary">Add place</a>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>




            </div>
        </div>


    </div>

    <div class="main">



        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Profile</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12" style="margin-top:20px;">

                </div>
            </div>
        </div>

        <form action="./my_profile_files/my_profile.html" enctype="multipart/form-data" id="formsubmit" method="post">
            <input id="ID" name="ID" type="hidden" value="110025"><input id="Image" name="Image" type="hidden" value="//graph.facebook.com/938699309509433/picture?type=large"><input id="AuthProvidersID" name="AuthProvidersID" type="hidden" value="2">    <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="bold">Challenge</h4>
                        <p><i>Please select one of the options below</i></p>
                        <ul class="block-grid-xs-1 block-grid-sm-4 challenge">
                            <li class="block-grid-item">
                                <div class="radio">
                                    <label>
                                        <input id="ProfileSelected" name="ProfileSelected" type="radio" value="1">
                                        Manual Wheelchair User
                                    </label>
                                </div>
                            </li>
                            <li class="block-grid-item">
                                <div class="radio">
                                    <label>
                                        <input id="ProfileSelected" name="ProfileSelected" type="radio" value="2">
                                        Electric Wheelchair User
                                    </label>
                                </div>
                            </li>
                            <li class="block-grid-item">
                                <div class="radio">
                                    <label>
                                        <input id="ProfileSelected" name="ProfileSelected" type="radio" value="3">
                                        User Canadian/Bengal
                                    </label>
                                </div>
                            </li>
                            <li class="block-grid-item">
                                <div class="radio">
                                    <label>
                                        <input checked="checked" id="ProfileSelected" name="ProfileSelected" type="radio" value="4">
                                        Difficulties in walking
                                    </label>
                                </div>
                            </li>
                            <li class="block-grid-item">
                                <div class="radio">
                                    <label>
                                        <input id="ProfileSelected" name="ProfileSelected" type="radio" value="5">
                                        Difficulties in communication
                                    </label>
                                </div>
                            </li>
                            <li class="block-grid-item">
                                <div class="radio">
                                    <label>
                                        <input id="ProfileSelected" name="ProfileSelected" type="radio" value="6">
                                        Visual Challenges
                                    </label>
                                </div>
                            </li>
                            <li class="block-grid-item">
                                <div class="radio">
                                    <label>
                                        <input id="ProfileSelected" name="ProfileSelected" type="radio" value="7">
                                        Auditive Challenges
                                    </label>
                                </div>
                            </li>
                            <li class="block-grid-item">
                                <div class="radio">
                                    <label>
                                        <input id="ProfileSelected" name="ProfileSelected" type="radio" value="8">
                                        Families with young children
                                    </label>
                                </div>
                            </li>
                            <li class="block-grid-item">
                                <div class="radio">
                                    <label>
                                        <input id="ProfileSelected" name="ProfileSelected" type="radio" value="9">
                                        Pregnant
                                    </label>
                                </div>
                            </li>
                            <li class="block-grid-item">
                                <div class="radio">
                                    <label>
                                        <input id="ProfileSelected" name="ProfileSelected" type="radio" value="10">
                                        Short stature
                                    </label>
                                </div>
                            </li>
                            <li class="block-grid-item">
                                <div class="radio">
                                    <label>
                                        <input id="ProfileSelected" name="ProfileSelected" type="radio" value="11">
                                        Neither
                                    </label>
                                </div>
                            </li>
                        </ul>

                        <p><i>Check this option if you want other users to see which is your challenge</i></p>
                        <div class="checkbox">
                            <label>
                                <input checked="checked" id="IsVisibleSelected" name="IsVisibleSelected" type="checkbox" value="true"><input name="IsVisibleSelected" type="hidden" value="false">
                                Visible
                            </label>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row align-middle">
                    <div class="col-xs-4 col-sm-2">
                        <div class="avatar" style="background-image:url(&#39;//graph.facebook.com/938699309509433/picture?type=large&#39;)"></div>
                    </div>
                    <div class="col-xs-8 col-sm-4">
                        <div class="form-group">
                            Diogo Barroso
                            ei11105@gcloud.fe.up.pt
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <button value="userData" name="button" class="btn btn-dark btn-sm">Save changes</button>
                            <button value="deleteAccount" name="button" id="deleteAcc" class="btn btn-default btn-sm">Delete account</button>
                        </div>
                    </div>
                </div>

            </div>
            <hr class="clear">
            <section class="odd-bg favorites">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="bold">Favorites</h4>
                            <div class="panel panel-default">
                                <div class="panel-body text-center">
                                    <span class="fa fa-heart-o icon-lg"></span>
                                    <p class="lead">You don't have any favorite places yet</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>

     

    </div>

    <div class="row visible-print-inline">
        <div class="col-xs-12">
            <img src="./my_profile_files/logo-small.png" alt="Places4All" class="img-responsive">
        </div>
    </div>

    <footer>
        <div class="container hidden-print">
            <div class="row">

                <div class="col-xs-6 col-sm-2 col-lg-2">
                    <label class="bold">Places4All</label>
                    <ul class="list-unstyled">
                        <li><a href="http://places4all.com/site/aboutus/">About us</a></li>
                        <li><a href="http://places4all.com/site/blog/">Blog</a></li>
                        <li><a href="http://places4all.com/site/media/">Media</a></li>
                        <li><a href="http://places4all.com/site/partners/">Partners</a></li>
                        <li><a href="http://places4all.com/p4all/Contact/Comment">Contacts</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-sm-2 col-lg-2">
                    <label class="bold">How it works</label>
                    <ul class="list-unstyled">
                        <li><a href="http://places4all.com/site/howitworks/#methodology">Methodology</a></li>
                        <li><a href="http://places4all.com/site/howitworks/#WhoCanJoin">Who can join</a></li>
                        <li><a href="http://places4all.com/site/howitworks/#badge">The badge</a></li>
                        <li><a href="http://places4all.com/site/howitworks/#advantages">Advantages</a></li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-5">
                    <form>
                        <div class="form-group">
                            <label class="bold">Subscribe to our newsletter</label>
                            <input class="form-control dark" type="email" placeholder="Insert your email">
                        </div>
                        <button type="submit" class="btn btn-dimmed">Subscribe</button>
                    </form>
                    <ul class="list-inline social">
                        <li><a href="https://www.facebook.com/placesforall" class="fa fa-facebook"></a></li>
                        <li><a href="https://www.youtube.com/channel/UCpHn0NRhBpp6XwhNGpiC9-A" class="fa fa-youtube"></a></li>
                        <li><a href="https://plus.google.com/u/2/115813301172670932974/posts" class="fa fa-google-plus"></a></li>
                        <li><a href="https://www.linkedin.com/company/9291191?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A9291191%2Cidx%3A1-1-1%2CtarId%3A1441017666792%2Ctas%3Aplaces4all" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-3 powered hidden-print">
                    <label class="bold block">Powered by</label>
                    <a href="http://www.immensa.org/">
                        <img src="./my_profile_files/IMMENSA.png" class="show img-responsive" alt="Immensa" style="max-width:150px">
                    </a>
                </div><a href="http://www.immensa.org/">

                </a>
            </div><a href="http://www.immensa.org/">

                <div class="row">
                    <div class="col-xs-12 copyright">
                        © 2015 Places4All, all rights reserved
                    </div>
                </div>
            </a>
        </div><a href="http://www.immensa.org/">
        </a>
    </footer><a href="http://www.immensa.org/"></a><div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div></div>
</body>