@model IEnumerable<places4all.Models.Place>

@{
    ViewBag.Title = "Index";
}
<head>
    @Styles.Render("~/Content/ListPlaces/css")
    @Scripts.Render("~/Scritps/ListPlaces/js")
</head>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DesignacaoPT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesignacaoEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoPT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contacto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoEspaco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direcao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distrito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auditado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlaceAdmin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DesignacaoPT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesignacaoEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoPT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contacto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoEspaco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direcao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distrito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Auditado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlaceAdmin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlaceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlaceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlaceId })
        </td>
    </tr>
}

</table>
