@model places4all.Models.Audit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Audit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditWCJustPT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditWCJustPT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditWCJustEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditWCJustEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditParkJustPT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditParkJustPT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditParkJustEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditParkJustEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditGASJustPT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditGASJustPT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditGASJustEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditGASJustEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditInJustPT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditInJustPT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditInJustEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditInJustEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditOutJustPT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditOutJustPT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditOutJustEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditOutJustEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditHallJustPT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditHallJustPT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditHallJustEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditHallJustEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditIntRoute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditIntRoute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditOutRoute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditOutRoute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditHallway)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditHallway)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditWC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditWC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditCarPark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditCarPark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditGoodsServ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditGoodsServ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distico)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AuditId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
