@model places4all.Models.Place

@{
    ViewBag.Title = "Create";
}

<head>
    @Styles.Render("~/Content/AddPlace/css")
    @Scripts.Render("~/Scripts/AddPlace/js")
</head>
<script>
    $(document).ready(function () {
        $(".langSelector").click(function () {
            $.cookie('p4alllang', 'en-US', { expires: new Date(2500, 1, 1), path: '/' });
            return true;
            $.ajax({
                url: "/LanguageServerErrorsUtils/SetLanguage/en",
                type: "POST",
                dataType: 'text',
                contentType: "application/json",
                success: function (response) {
                    location.reload();
                }
            });
        });
    });

</script>


<script type="text/javascript">
    $('input[type="checkbox"]').on('change', function () {
        var fatherId = $(this).parent().parent();
        var id = fatherId[0].id;
        if (fatherId.parent().parent()[0].id == "spaceType") {
            $("#spaceType").find('input[type="checkbox"]').not(this).prop('checked', false);
        } else {

        }
        if (id == "other") {
            if ($('#other input[type="checkbox"]:checked').length == 0) {
                $("#otherService").css('visibility', 'hidden')

            } else {

                $("#otherService").css('visibility', 'visible')
            }
        }
    }
    );

    $(document).ready(function () {
        if ($('#other input[type="checkbox"]:checked').length == 0) {
            $("#otherService").css('visibility', 'hidden')

        } else {

            $("#otherService").css('visibility', 'visible')
        }

    });




</script>
<script src="~/Scripts/AddPlace/api.js"></script>
<!--
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Place</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DesignacaoPT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DesignacaoPT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DesignacaoPT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DesignacaoEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DesignacaoEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DesignacaoEN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescricaoPT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescricaoPT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DescricaoPT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescricaoEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescricaoEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DescricaoEN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contacto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contacto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contacto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoEspaco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TipoEspaco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TipoEspaco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Latitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Longitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Direcao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Direcao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Direcao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Distrito, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Distrito, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Distrito, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Auditado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Auditado)
                    @Html.ValidationMessageFor(model => model.Auditado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlaceAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlaceAdmin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PlaceAdmin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
-->

<body>
    <div class="container-fluid header">

        <!-- Navigation -->
        <div class="row visible-xs">

            <div class="col-xs-12">
                <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">

                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="~/Home/Index">Logout</a></li>
                        <li><a href="~/Users/Details/110025">Bem-vindo, Diogo Barroso</a></li> <!--http://places4all.com/p4all/Auth/UserPage/110025-->

                        <li class=""><a href="~/Places/Create" class="langSelector">English</a></li>
                        <li><a href="~/Places/Create" class="btn btn-primary">Adicionar lugar</a></li>
                    </ul>
                </nav>

                <div class="navbar navbar-default navbar-fixed-top clearfix">
                    <div class="logo pull-left show-xs">
                        <a href="~/Home/Index">
                            <img src="~/Content/Images/logo-small.png" alt="Places4All" class="img-responsive">
                        </a>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row hidden-xs">

            <div class="logo small col-sm-2 col-lg-1">
                <a href="~/Home/Index">
                    <img src="~/Content/Images/logo-small.png" alt="Places4All" class="img-responsive">
                </a>
            </div>

            <div class="col-xs-6 col-sm-10 col-lg-11">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- <a class="navbar-brand" href="index.php">Places4All</a> -->
                        </div>
                        <form action="http://places4all.com/p4all/search" method="get">
                            <div class="navbar-form navbar-left hidden-sm" role="search">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                    <input type="text" class="form-control" id="search" name="q" placeholder="O que procura?" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </form>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">


                                <li><a href="~/Home/Index">Logout</a></li>
                                <li><a href="~/Users/Details/110025">Bem-vindo, Diogo Barroso</a></li> 




                                <li class=""><a href="./add_place_files/add_place.html" class="langSelector">English</a></li>
                                <li>
                                    <form class="navbar-form">
                                        <a href="./add_place_files/add_place.html" class="btn btn-primary">Adicionar lugar</a>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>




            </div>
        </div>


    </div>

    <div class="main">



        <div class="page-title hidden-print">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Adicionar lugar</h1>
                        <h3 class="slab text-center">Torne o seu lugar uma referencia em acessibilidade</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="visible-print-inline">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2>Adicionar lugar</h2>
                    </div>
                </div>
            </div>
        </div>



        <div class="container">


            <hr class="clear">

            <form action="./add_place_files/add_place.html" enctype="multipart/form-data" method="post">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-push-2 text-center">

                    </div>
                </div>
                <input id="PowerUser" name="PowerUser" type="hidden" value="False">        <div class="row hidden-print">
                    <div class="col-xs-12 col-md-8 col-md-push-2">
                        <a class="btn btn-default pull-right text-muted" href="javascript:window.print()"><span class="fa fa-print right-lv2"></span>Print</a>
                    </div>
                </div>
                <div class="row">

                    <div class="col-xs-12 col-md-8 col-md-push-2">

                        <div class="form-group">
                            <label for="PoiName">Nome do lugar</label>
                            <input class="form-control" id="PoiName" name="PoiName" placeholder="Nome do lugar" type="text" value="">

                        </div>

                        <h4 class="slab text-center">Categorias</h4>
                        <hr class="secondary-bg centered hidden-print">

                        <div id="spaceType">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input id="TypeSpace" name="TypeSpace" type="radio" value="Alojamento">
                                        <label for="Alojamento">Alojamento</label>

                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input id="TypeSpace" name="TypeSpace" type="radio" value="Compras">
                                        <label for="Compras">Compras</label>

                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input id="TypeSpace" name="TypeSpace" type="radio" value="CulturaLazer">
                                        <label for="Cultura___Lazer">Cultura &amp; Lazer</label>

                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input id="TypeSpace" name="TypeSpace" type="radio" value="Educacao">
                                        <label for="Educa__o">Educação</label>

                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input id="TypeSpace" name="TypeSpace" type="radio" value="Eventos">
                                        <label for="Eventos">Eventos</label>

                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input id="TypeSpace" name="TypeSpace" type="radio" value="Restauracao">
                                        <label for="Restaura__o">Restauração</label>

                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input id="TypeSpace" name="TypeSpace" type="radio" value="Saude">
                                        <label for="Sa_de">Saúde</label>

                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input id="TypeSpace" name="TypeSpace" type="radio" value="Servicos">
                                        <label for="Servi_os">Serviços</label>

                                    </label>
                                </div>
                            </div>
                        </div>




                        <h4 class="slab text-center">Serviços dísponiveis</h4>
                        <hr class="secondary-bg centered hidden-print">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="AvailableServices_DiningArea" name="AvailableServices.DiningArea" type="checkbox" value="true"><input name="AvailableServices.DiningArea" type="hidden" value="false">
                                    <label for="Zona_de_refei__es">Zona de refeições</label>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="AvailableServices_SpectaclesRoomAndEvents" name="AvailableServices.SpectaclesRoomAndEvents" type="checkbox" value="true"><input name="AvailableServices.SpectaclesRoomAndEvents" type="hidden" value="false">
                                    <label for="Sala_de_esp_ctaculos_e_eventos">Sala de espéctaculos e eventos</label>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="AvailableServices_ChangingRoomsAndProofCabins" name="AvailableServices.ChangingRoomsAndProofCabins" type="checkbox" value="true"><input name="AvailableServices.ChangingRoomsAndProofCabins" type="hidden" value="false">
                                    <label for="Vesti_rios_e_cabines_de_prova">Vestiários e cabines de prova</label>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="AvailableServices_ExhibitionSpaces" name="AvailableServices.ExhibitionSpaces" type="checkbox" value="true"><input name="AvailableServices.ExhibitionSpaces" type="hidden" value="false">
                                    <label for="Lugares_de_exposi__o">Lugares de exposição</label>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="AvailableServices_WaitingRoomAndReception" name="AvailableServices.WaitingRoomAndReception" type="checkbox" value="true"><input name="AvailableServices.WaitingRoomAndReception" type="hidden" value="false">
                                    <label for="Sala_de_espera_e_rece__o">Sala de espera e receção</label>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="AvailableServices_ServiceDeskAndPayment" name="AvailableServices.ServiceDeskAndPayment" type="checkbox" value="true"><input name="AvailableServices.ServiceDeskAndPayment" type="hidden" value="false">
                                    <label for="Servi_os">Serviços</label>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="AvailableServices_SelfPerformanceEquipment" name="AvailableServices.SelfPerformanceEquipment" type="checkbox" value="true"><input name="AvailableServices.SelfPerformanceEquipment" type="hidden" value="false">
                                    <label for="Equipamentos_de_auto-atendimento">Equipamentos de auto-atendimento</label>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="AvailableServices_RoomsAdapted" name="AvailableServices.RoomsAdapted" type="checkbox" value="true"><input name="AvailableServices.RoomsAdapted" type="hidden" value="false">
                                    <label for="Quartos_adaptados">Quartos adaptados</label>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="AvailableServices_SelfService" name="AvailableServices.SelfService" type="checkbox" value="true"><input name="AvailableServices.SelfService" type="hidden" value="false">
                                    <label for="Self-Service">Self-Service</label>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="AvailableServices_Pool" name="AvailableServices.Pool" type="checkbox" value="true"><input name="AvailableServices.Pool" type="hidden" value="false">
                                    <label for="Piscina">Piscina</label>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="AvailableServices_MeetingRoom" name="AvailableServices.MeetingRoom" type="checkbox" value="true"><input name="AvailableServices.MeetingRoom" type="hidden" value="false">
                                    <label for="Sala_de_reuni_es">Sala de reuniões</label>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="AvailableServices_Cinema" name="AvailableServices.Cinema" type="checkbox" value="true"><input name="AvailableServices.Cinema" type="hidden" value="false">
                                    <label for="Cinema">Cinema</label>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="AvailableServices_Office" name="AvailableServices.Office" type="checkbox" value="true"><input name="AvailableServices.Office" type="hidden" value="false">
                                    <label for="Escrit_rio">Escritório</label>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="AvailableServices_SpaceForChildren" name="AvailableServices.SpaceForChildren" type="checkbox" value="true"><input name="AvailableServices.SpaceForChildren" type="hidden" value="false">
                                    <label for="Lugar_para_crian_as">Lugar para crianças</label>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="AvailableServices_DressingRooms" name="AvailableServices.DressingRooms" type="checkbox" value="true"><input name="AvailableServices.DressingRooms" type="hidden" value="false">
                                    <label for="Camarins">Camarins</label>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="AvailableServices_WcAccessible" name="AvailableServices.WcAccessible" type="checkbox" value="true"><input name="AvailableServices.WcAccessible" type="hidden" value="false">
                                    <label for="Wc_acess_vel">Wc acessível</label>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="AvailableServices_AccessibleParking" name="AvailableServices.AccessibleParking" type="checkbox" value="true"><input name="AvailableServices.AccessibleParking" type="hidden" value="false">
                                    <label for="Estacionamento_acess_vel">Estacionamento acessível</label>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="AvailableServices_InclusiveCommunication" name="AvailableServices.InclusiveCommunication" type="checkbox" value="true"><input name="AvailableServices.InclusiveCommunication" type="hidden" value="false">
                                    <label for="Comunica__o_inclusiva">Comunicação inclusiva</label>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox" id="other">
                                <label>
                                    <input id="AvailableServices_Other" name="AvailableServices.Other" type="checkbox" value="true"><input name="AvailableServices.Other" type="hidden" value="false">
                                    <label for="Outros">Outros</label>
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="otherService" style="visibility: hidden;">
                            <input class="form-control" id="AvailableServices_OtherServices" name="AvailableServices.OtherServices" placeholder="Especifique quais" type="text" value="">
                        </div>

                        <div class="hidden-print">
                            <h4 class="slab text-center">Media</h4>
                            <hr class="secondary-bg centered hidden-print">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <span class="btn btn-primary btn-file">
                                            Procurar…
                                            <input type="file" name="file" size="100" id="file" multiple="multiple">
                                        </span>
                                    </span>
                                    <input type="text" class="form-control">
                                </div>
                                <span class="help-block">
                                    Por favor, selecione um ou mais arquivos
                                </span>

                            </div>
                        </div>

                        <h4 class="slab text-center">Contacto do Proprietário</h4>
                        <hr class="secondary-bg centered hidden-print">

                        <div class="form-group">
                            <input class="form-control" id="ResponsibleName" name="ResponsibleName" placeholder="Nome do responsável" type="text" value="">

                        </div>
                        <div class="form-group">
                            <textarea class="form-control" cols="20" id="Adress" name="Adress" placeholder="Rua, nº" rows="2"></textarea>

                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6 col-sm-4 col-md-3">
                                    <input class="form-control" id="PostalCode1" name="PostalCode1" placeholder="Código Postal" type="text" value="">

                                </div>

                                <div class="col-xs-6 col-sm-4 col-md-3">
                                    <input class="form-control" id="PostalCode2" name="PostalCode2" placeholder="Código Postal" type="text" value="">

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="City" name="City" placeholder="Cidade" type="text" value="">

                        </div>
                        <div class="form-group">
                            <input class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="Telefone / Telemóvel" type="text" value="">

                        </div>
                        <div class="form-group">
                            <input class="form-control" id="Email" name="Email" placeholder="Email" type="text" value="">

                        </div>

                        <div class="form-group">
                            <label>Distrito</label>

                            <select class="form-control" id="District" name="District">
                                <option value="Aveiro">Aveiro</option>
                                <option value="Beja">Beja</option>
                                <option value="Braga">Braga</option>
                                <option value="Braganca">Braganca</option>
                                <option value="Castelo Branco">Castelo Branco</option>
                                <option value="Coimbra">Coimbra</option>
                                <option value="Evora">Evora</option>
                                <option value="Faro">Faro</option>
                                <option value="Guarda">Guarda</option>
                                <option value="Leiria">Leiria</option>
                                <option value="Lisboa">Lisboa</option>
                                <option value="Portalegre">Portalegre</option>
                                <option value="Porto">Porto</option>
                                <option value="Santarem">Santarem</option>
                                <option value="Setubal">Setubal</option>
                                <option value="Viana Do Castelo">Viana Do Castelo</option>
                                <option value="Vila Real">Vila Real</option>
                                <option value="Viseu">Viseu</option>
                                <option value="Açores (Ilha do Corvo)">Açores (Ilha do Corvo)</option>
                                <option value="Açores (Ilha do Faial)">Açores (Ilha do Faial)</option>
                                <option value="Açores (Ilha das Flores)">Açores (Ilha das Flores)</option>
                                <option value="Açores (Ilha da Graciosa)">Açores (Ilha da Graciosa)</option>
                                <option value="Açores (Ilha de Santa Maria)">Açores (Ilha de Santa Maria)</option>
                                <option value="Açores (Ilha de São Jorge)">Açores (Ilha de São Jorge)</option>
                                <option value="Açores (Ilha de São Miguel)">Açores (Ilha de São Miguel)</option>
                                <option value="Açores (Ilha do Pico)">Açores (Ilha do Pico)</option>
                                <option value="Açores (Ilha Terceira)">Açores (Ilha Terceira)</option>
                                <option value="Madeira (Ilha da Madeira)">Madeira (Ilha da Madeira)</option>
                                <option value="Madeira (Ilha de Porto Santo)">Madeira (Ilha de Porto Santo)</option>
                            </select>

                        </div>



                        <div class="form-group">
                            <label for="Proprietor">É o proprietário do espaço?</label>
                            <input id="Proprietor" name="Proprietor" type="checkbox" value="true"><input name="Proprietor" type="hidden" value="false">
                        </div>
                        <div class="row hidden-print">
                            <div class="col-xs-12 col-md-8 col-md-push-2">
                                <p class="slab text-center">
                                    Para evitar a utilização de programas automáticos, pedimos-lhe que preencha a seguinte informação
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-8 col-md-push-2">
                                <div class="g-recaptcha below-lv3 hidden-print" data-sitekey="6LeOjgkTAAAAAPffIy_wAm3eKI3zfJgZK80pWjgg"><div><div style="width: 304px; height: 78px;"><iframe src="~/Scripts/AddPlace/anchor.html" title="Widget recaptcha" width="304" height="78" role="presentation" frameborder="0" scrolling="no"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; "></textarea></div></div>
                            </div>
                        </div>

                        <div class="form-group hidden-print">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Enviar</button>
                        </div>

                    </div>

                </div>
            </form>    <hr class="clear">
        </div>


    </div>

    <div class="row visible-print-inline">
        <div class="col-xs-12">
            <img src="./add_place_files/logo-small.png" alt="Places4All" class="img-responsive">
        </div>
    </div>

    <footer>
        <div class="container hidden-print">
            <div class="row">

                <div class="col-xs-6 col-sm-2 col-lg-2">
                    <label class="bold">Places4All</label>
                    <ul class="list-unstyled">
                        <li><a href="~/Site/AboutUs">About us</a></li>
                        <li><a href="~/Site/Blog">Blog</a></li>
                        <li><a href="~/Site/Media">Media</a></li>
                        <li><a href="~/Site/Partners">Partners</a></li>
                        <li><a href="~/Site/Contact">Contacts</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-sm-2 col-lg-2">
                    <label class="bold">How it works</label>
                    <ul class="list-unstyled">
                        <li><a href="~/HowItWorks/#Methodology">Methodology</a></li>
                        <li><a href="~/HowItWorks/#WhoCanJoin">Who can join</a></li>
                        <li><a href="~/HowItWorks/#badge">The badge</a></li>
                        <li><a href="~/HowItWorks/#advantages">Advantages</a></li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-5">
                    <form>
                        <div class="form-group">
                            <label class="bold">Subscribe to our newsletter</label>
                            <input class="form-control dark" type="email" placeholder="Insert your email">
                        </div>
                        <button type="submit" class="btn btn-dimmed">Subscribe</button>
                    </form>
                    <ul class="list-inline social">
                        <li><a href="https://www.facebook.com/placesforall" class="fa fa-facebook"></a></li>
                        <li><a href="https://www.youtube.com/channel/UCpHn0NRhBpp6XwhNGpiC9-A" class="fa fa-youtube"></a></li>
                        <li><a href="https://plus.google.com/u/2/115813301172670932974/posts" class="fa fa-google-plus"></a></li>
                        <li><a href="https://www.linkedin.com/company/9291191?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A9291191%2Cidx%3A1-1-1%2CtarId%3A1441017666792%2Ctas%3Aplaces4all" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-3 powered hidden-print">
                    <label class="bold block">Powered by</label>
                    <a href="http://www.immensa.org/">
                        <img src="~/Content/Images/IMMENSA.png" class="show img-responsive" alt="Immensa" style="max-width:150px">
                    </a>
                </div><a href="http://www.immensa.org/">

                </a>
            </div><a href="http://www.immensa.org/">

                <div class="row">
                    <div class="col-xs-12 copyright">
                        © 2015 Places4All, all rights reserved
                    </div>
                </div>
            </a>
        </div><a href="http://www.immensa.org/">
        </a>
    </footer><a href="http://www.immensa.org/">
    </a><div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div></div>

    </body>