@model places4all.Models.Place

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Place</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DesignacaoPT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesignacaoPT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesignacaoEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesignacaoEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescricaoPT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoPT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescricaoEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoEspaco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEspaco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distrito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Auditado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auditado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceAdmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceAdmin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlaceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
