@model IEnumerable<places4all.Models.Place>

@{
    ViewBag.Title = "Index";
}
<head>
    @Styles.Render("~/Content/ListPlaces/css")
    @Scripts.Render("~/Scripts/ListPlaces/js")
</head>

<!--<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DesignacaoPT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesignacaoEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoPT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contacto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoEspaco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direcao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distrito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auditado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlaceAdmin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DesignacaoPT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesignacaoEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoPT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contacto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoEspaco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direcao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distrito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Auditado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlaceAdmin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlaceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlaceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlaceId })
        </td>
    </tr>
}

</table>
    -->

<script>
    $(document).ready(function () {
        if (!"geolocation" in navigator) {
            $("#o option[value=7]").remove();
        }

        var submitting = false;
        var resetPaging = true;

        function search() {
            if (submitting) {
                return true;
            }
            if (resetPaging) {
                $("#p").val(1);
            }

            if ($("#o").val() == "7"
                && "geolocation" in navigator
                && ($("#lat").val() == "" || $("#lat").val() == "0")
                && ($("#lon").val() == "" || $("#lon").val() == "0")
                ) {
                var theForm = $(this);
                navigator.geolocation.getCurrentPosition(function (position) {
                    $("#lat").val(position.coords.latitude);
                    $("#lon").val(position.coords.longitude);
                    submitting = true;
                    theForm.submit();
                },
                function (error) {
                    submitting = false;
                });
                return false;
            }

            return true;
        }

        $("#searchform").submit(search);
        $("#o").change(function () { $("#searchform").submit(); });
        $("#t").change(function () { $("#searchform").submit(); });
        $("#d").change(function () { $("#searchform").submit(); });
        $("#previous").click(function () {
            $("#p").val(0);
            resetPaging = false;
            $("#searchform").submit();
        });
        $("#next").click(function () {
            $("#p").val(2);
            resetPaging = false;
            $("#searchform").submit();
        });

    });

    $("#next").click(function () {
        var nrPage = $("#nrPage").text().split(" ")[1];
    });

    $("#q").click(function () {

    });
</script>

<script>
    $(document).ready(function () {
        $(".langSelector").click(function () {
            $.cookie('p4alllang', 'en-US', { expires: new Date(2500, 1, 1), path: '/' });
            return true;
            $.ajax({
                url: "/LanguageServerErrorsUtils/SetLanguage/en",
                type: "POST",
                dataType: 'text',
                contentType: "application/json",
                success: function (response) {
                    location.reload();
                }
            });
        });
    });

</script>

<body>
    <div class="container-fluid header">

        <!-- Navigation -->
        <div class="row visible-xs">

            <div class="col-xs-12">
                <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">

                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="~/Home/Index">Logout</a></li>
                        <li><a href="~/Users/Details/110025">Bem-vindo, Diogo Barroso</a></li>

                        <li class=""><a href="./place_list_files/place_list.html" class="langSelector">English</a></li>
                        <li><a href="~/Places/Create" class="btn btn-primary">Adicionar lugar</a></li>
                    </ul>
                </nav>

                <div class="navbar navbar-default navbar-fixed-top clearfix">
                    <div class="logo pull-left show-xs">
                        <a href="~/Home/Index">
                            <img src="~/Content/Images/logo-small.png" alt="Places4All" class="img-responsive">
                        </a>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row hidden-xs">

            <div class="logo small col-sm-2 col-lg-1">
                <a href="~/Home/Index">
                    <img src="~/Content/Images/logo-small.png" alt="Places4All" class="img-responsive">
                </a>
            </div>

            <div class="col-xs-6 col-sm-10 col-lg-11">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- <a class="navbar-brand" href="index.php">Places4All</a> -->
                        </div>
                        <form action="http://places4all.com/p4all/search" method="get"></form>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">


                                <li><a href="~/Home/Index">Logout</a></li>
                                <li><a href="~/Users/110025">Bem-vindo, Diogo Barroso</a></li>




                                <li class=""><a href="./place_list_files/place_list.html" class="langSelector">English</a></li>
                                <li>
                                    <form class="navbar-form">
                                        <a href="~/Places/Create" class="btn btn-primary">Adicionar lugar</a>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>




            </div>
        </div>


    </div>

    <div class="main">


        <form action="http://places4all.com/p4all/search" id="searchform" method="get">
            <input id="lat" name="lat" type="hidden" value="0"><input id="lon" name="lon" type="hidden" value="0"><input id="p" name="p" type="hidden" value="1">    <section class="odd-bg">
                <div class="container">
                    <div class="row filters">
                        <div class="col-md-4 col-lg-3">
                            <h5 class="bold">Pesquisar</h5>
                            <input class="form-control" id="q" name="q" type="text" value="">
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <h5 class="bold">Ordenar por categoria:</h5>
                            <select class="form-control" id="o" name="o">
                                <option selected="selected" value="0">Classificação Global</option>
                                <option value="1">Estacionamento</option>
                                <option value="2">Percurso exterior</option>
                                <option value="3">Entrada</option>
                                <option value="4">Percurso interior</option>
                                <option value="5">Bens e serviços</option>
                                <option value="6">Casa de banho</option>
                                <option value="7">Distância</option>
                            </select>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <h5 class="bold">Tipo</h5>
                            <select class="form-control" id="t" name="t">
                                <option selected="selected" value="0">Seleccione um tipo de lugar</option>
                                <option value="1">Alojamento</option>
                                <option value="12">Auto-estradas</option>
                                <option value="2">Compras</option>
                                <option value="3">Cultura &amp; Lazer</option>
                                <option value="11">Desporto</option>
                                <option value="4">Educação</option>
                                <option value="10">Emprego</option>
                                <option value="5">Eventos</option>
                                <option value="9">Natureza</option>
                                <option value="6">Restauração</option>
                                <option value="7">Saúde</option>
                                <option value="8">Serviços</option>
                            </select>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <h5 class="bold">Distrito</h5>
                            <select class="form-control" id="d" name="d">
                                <option selected="selected" value="0">Seleccione um distrito</option>
                                <option value="1">Aveiro</option>
                                <option value="2">Beja</option>
                                <option value="3">Braga</option>
                                <option value="4">Braganca</option>
                                <option value="5">Castelo Branco</option>
                                <option value="6">Coimbra</option>
                                <option value="7">Evora</option>
                                <option value="8">Faro</option>
                                <option value="9">Guarda</option>
                                <option value="10">Leiria</option>
                                <option value="11">Lisboa</option>
                                <option value="12">Portalegre</option>
                                <option value="13">Porto</option>
                                <option value="14">Santarem</option>
                                <option value="15">Setubal</option>
                                <option value="16">Viana Do Castelo</option>
                                <option value="17">Vila Real</option>
                                <option value="19">Açores (Ilha Do Corvo)</option>
                                <option value="20">Açores (Ilha do Faial)</option>
                                <option value="21">Açores (Ilha das Flores)</option>
                                <option value="22">Açores (Ilha da Graciosa)</option>
                                <option value="23">Açores (Ilha De Santa Maria)</option>
                                <option value="24">Açores (Ilha De São Jorge)</option>
                                <option value="25">Açores (Ilha de São Miguel)</option>
                                <option value="26">Açores (Ilha do Pico)</option>
                                <option value="27">Açores (Ilha Terceira)</option>
                                <option value="28">Madeira (Ilha da Madeira)</option>
                                <option value="29">Madeira (Ilha de Porto Santo)</option>
                            </select>
                        </div>
                        <div class="col-md-4 col-lg-4 col-lg-push-4">
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-block" value="Submeter">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                </div>
            </section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2 class="primary">Todos os lugares</h2>
                    </div>
                </div>
            </div>    <div class="container">
                <div class="row allspaces">
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="thumbnail">
                            <a href="http://places4all.com/poi/uma-forma-de-continuar/" style="background-image:url(&#39;/media/1290/12036621_918974741485259_4804377731833675123_n.jpg&#39;)" class="stretch"></a>
                            <div class="caption wrapper">
                                <a href="http://places4all.com/poi/uma-forma-de-continuar/">
                                    <h4>"Uma Forma de Continuar" - Rui Machado</h4>
                                </a>
                                <div class="_5wd4 _1nc7 direction_ltr _5yt9" data-reactid=".2g7.1:$mid=11446497263197=2b1b03f077a7354ed60">
                                    <div class="_5wd9" data-reactid=".2g7.1:$mid=11446497263197=2b1b03f077a7354ed60.2:0">
                                        <div class="_5wde" data-reactid=".2g7.1:$mid=11446497263197=2b1b03f077a7354ed60.2:0.0">
                                            <div class="_5w1r _5wdf _3okg" data-reactid=".2g7.1:$mid=11446497263197=2b1b03f077a7354ed60.2:0.0.0">
                                                <div class="_d97" data-reactid=".2g7.1:$mid=11446497263197=2b1b03f077a7354ed60.2:0.0.0.0">
                                                    <div class="_5wd4 _1nc7 direction_ltr _5yt9" data-reactid=".2g7.1:$mid=11446497263197=2b1b03f077a7354ed60">
                                                        <div class="_5wd9" data-reactid=".2g7.1:$mid=11446497263197=2b1b03f077a7354ed60.2:0">
                                                            <div class="_5wde" data-reactid=".2g7.1:$mid=11446497263197=2b1b03f077a7354ed60.2:0.0">
                                                                <div class="_5w1r _5wdf _3okg" data-reactid=".2g7.1:$mid=11446497263197=2b1b03f077a7354ed60.2:0.0.0">
                                                                    <div class="_d97" data-reactid=".2g7.1:$mid=11446497263197=2b1b03f077a7354ed60.2:0.0.0.0">
                                                                        <div class="_5wd4 _1nc7 direction_ltr _5yt9" data-reactid=".2g7.1:$mid=11446497263197=2b1b03f077a7354ed60">
                                                                            <div class="_5wd9" data-reactid=".2g7.1:$mid=11446497263197=2b1b03f077a7354ed60.2:0">
                                                                                <div class="_5wde" data-reactid=".2g7.1:$mid=11446497263197=2b1b03f077a7354ed60.2:0.0">
                                                                                    <div class="_5w1r _5wdf _3okg" data-reactid=".2g7.1:$mid=11446497263197=2b1b03f077a7354ed60.2:0.0.0">
                                                                                        <div class="_d97" data-reactid=".2g7.1:$mid=11446497263197=2b1b03f077a7354ed60.2:0.0.0.0"><span class="_5yl5" data-reactid=".2g7.1:$mid=11446497263197=2b1b03f077a7354ed60.2:0.0.0.0.0"><img style="width: 145px; height: 204px; display: block; margin-left: auto; margin-right: auto;" src="./place_list_files/12036621_918974741485259_4804377731833675123_n.jpg" alt="undefined" rel="21944"></span></div>
                                                                                        <div class="_d97" data-reactid=".2g7.1:$mid=11446497263197=2b1b03f077a7354ed60.2:0.0.0.0"></div>
                                                                                        <div class="_d97" data-reactid=".2g7.1:$mid=11446497263197=2b1b03f077a7354ed60.2:0.0.0.0"><span class="_5yl5" data-reactid=".2g7.1:$mid=11446497263197=2b1b03f077a7354ed60.2:0.0.0.0.0">Rui Machado nasceu em 1983 na cidade do Porto. Em 2014 publicou o seu primeiro livro: "Finalmente Mar". Depois da poesia, surge agora a prosa em “Uma Forma de Continuar”. Para além destes livros, participou até ao momento, num total de duas dezenas de colectâneas/antologias, tanto de poesia como de prosa. É licenciado em Psicologia da Saúde e mestre em Psicologia Clínica. Entre os dois, fez formação técnica em Multimédia e trabalhou em Publicidade. Actualmente, ocupa a vida com a escrita e o activismo na área da deficiência, sendo membro da comissão coordenadora dos (d)Eficientes Indignados, da direcção do Centro de Vida Independente e co-criador do projecto ligado à desmistificação da sexualidade na deficiência "Sim, nós fodemos".</span></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="_3ry4" data-reactid=".2g7.1:$mid=11446497263197=2b1b03f077a7354ed60.2:1"></div>
                                                                        </div>
                                                                        <div class="_5wd4 _1nc7 direction_ltr _5yt9" data-reactid=".2g7.1:$mid=11446497310282=2545577daad16c14977">
                                                                            <br>
                                                                            <div class="_5wd9" data-reactid=".2g7.1:$mid=11446497310282=2545577daad16c14977.2:0">
                                                                                <div class="_5wde" data-reactid=".2g7.1:$mid=11446497310282=2545577daad16c14977.2:0.0">
                                                                                    <div class="_5w1r _5wdf _3okg" data-reactid=".2g7.1:$mid=11446497310282=2545577daad16c14977.2:0.0.0">
                                                                                        <div class="_d97" data-reactid=".2g7.1:$mid=11446497310282=2545577daad16c14977.2:0.0.0.0"><span class="_5yl5" data-reactid=".2g7.1:$mid=11446497310282=2545577daad16c14977.2:0.0.0.0.0">"Agora, olhando para trás, parece-me que este livro do Rui Machado me seduziu página a página. É nessa sequência paginada que se sucedem as histórias, as ideias, as sensações, os sentimentos e as pessoas que compõem este livro. Escrevo "pessoas" e não "personagens" porque, nesta leitura, fica sempre a impressão de se tratar de gente que existe, que vive. Talvez a realidade comprove que não é assim em todos os casos, talvez uma parte daqueles que habitam este livro tenham nascido na imaginação do autor. Tirar esse detalhe a limpo não é fundamental. Na literatura que vale a pena, a linguagem é sempre capaz de transportar a sua verdade. E isso é exatamente o que acontece aqui. As questões que ocupam estas páginas são aquelas que tocam o ser humano desde sempre e, com muita probabilidade, para sempre. A multidão que habita este livro, terna ou sarcástica, a sofrer ou a dar vontade de rir, é sempre composta por homens e mulheres. E quando menos esperamos, com frequência, encontramo-nos a nós próprios nestas páginas, a fazer parte deste livro." José Luís Peixoto</span></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <span class="label label-primary">89,7 %</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="thumbnail">
                            <a href="http://places4all.com/poi/porto-cruise-terminal/" style="background-image:url(&#39;/media/1179/termi.jpg&#39;)" class="stretch"></a>
                            <div class="caption wrapper">
                                <a href="http://places4all.com/poi/porto-cruise-terminal/">
                                    <h4>Porto Cruise Terminal</h4>
                                </a>
                                <p style="text-align: center; word-wrap: break-word;"><iframe src="./place_list_files/GetEmbedBadge(10).html" width="250px" height="105px" frameborder="0"></iframe></p>

                                <span class="label label-primary">89,4 %</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="thumbnail">
                            <a href="http://places4all.com/poi/as-santar%C3%A9m-ns/" style="background-image:url(&#39;/media/1130/santarem1.jpg&#39;)" class="stretch"></a>
                            <div class="caption wrapper">
                                <a href="http://places4all.com/poi/as-santar%C3%A9m-ns/">
                                    <h4>Área de Serviço de Santarém (Norte/Sul)</h4>
                                </a>
                                <p style="text-align: center; word-wrap: break-word;"><iframe src="./place_list_files/GetEmbedBadge(6).html" width="250px" height="105px" frameborder="0"></iframe></p>

                                <span class="label label-primary">89,3 %</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="thumbnail">
                            <a href="http://places4all.com/poi/as-grandola-ns/" style="background-image:url(&#39;/media/1124/grandola-2.jpg&#39;)" class="stretch"></a>
                            <div class="caption wrapper">
                                <a href="http://places4all.com/poi/as-grandola-ns/">
                                    <h4>Área de Serviço de Grândola (Norte/Sul)</h4>
                                </a>
                                <p style="text-align: center; word-wrap: break-word;"><iframe width="250" height="105" src="./place_list_files/GetEmbedBadge(1).html" frameborder="0"></iframe></p>

                                <span class="label label-primary">89,2 %</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="thumbnail">
                            <a href="http://places4all.com/poi/as-santarem-sn/" style="background-image:url(&#39;/media/1128/santarem1.jpg&#39;)" class="stretch"></a>
                            <div class="caption wrapper">
                                <a href="http://places4all.com/poi/as-santarem-sn/">
                                    <h4>Área de Serviço de Santarém (Sul/Norte)</h4>
                                </a>
                                <p style="text-align: center; word-wrap: break-word;"><iframe width="250" height="105" src="./place_list_files/GetEmbedBadge(7).html" frameborder="0"></iframe></p>

                                <span class="label label-primary">89,1 %</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="thumbnail">
                            <a href="http://places4all.com/poi/as-vila-velha-de-rodao-sn/" style="background-image:url(&#39;/media/1006/placeholder.png&#39;)" class="stretch"></a>
                            <div class="caption wrapper">
                                <a href="http://places4all.com/poi/as-vila-velha-de-rodao-sn/">
                                    <h4>Área de Serviço de Vila Velha de Ródão (Sul/Norte)</h4>
                                </a>
                                <p style="text-align: center; word-wrap: break-word;"><iframe width="250" height="105" src="./place_list_files/GetEmbedBadge(9).html" frameborder="0"></iframe></p>

                                <span class="label label-primary">89,1 %</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="thumbnail">
                            <a href="http://places4all.com/poi/as-grandola-sn/" style="background-image:url(&#39;/media/1126/grandola-2.jpg&#39;)" class="stretch"></a>
                            <div class="caption wrapper">
                                <a href="http://places4all.com/poi/as-grandola-sn/">
                                    <h4>Área de Serviço de Grândola (Sul/Norte)</h4>
                                </a>
                                <p style="text-align: center; word-wrap: break-word;"><iframe width="250" height="105" src="./place_list_files/GetEmbedBadge(2).html" frameborder="0"></iframe></p>

                                <span class="label label-primary">88,9 %</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="thumbnail">
                            <a href="http://places4all.com/poi/as-vila-velha-de-rodao-ns/" style="background-image:url(&#39;/media/1132/grandola.jpg&#39;)" class="stretch"></a>
                            <div class="caption wrapper">
                                <a href="http://places4all.com/poi/as-vila-velha-de-rodao-ns/">
                                    <h4>Área de Serviço de Vila Velha de Ródão (Norte/Sul)</h4>
                                </a>
                                <p style="text-align: center; word-wrap: break-word;"><iframe width="250" height="105" src="./place_list_files/GetEmbedBadge(8).html" frameborder="0"></iframe></p>

                                <span class="label label-primary">88,5 %</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="thumbnail">
                            <a href="http://places4all.com/poi/as-guarda-sn/" style="background-image:url(&#39;/media/1006/placeholder.png&#39;)" class="stretch"></a>
                            <div class="caption wrapper">
                                <a href="http://places4all.com/poi/as-guarda-sn/">
                                    <h4>Área de Serviço da Guarda (Sul/Norte)</h4>
                                </a>
                                <p style="text-align: center; word-wrap: break-word;"><iframe width="250" height="105" src="./place_list_files/GetEmbedBadge(4).html" frameborder="0"></iframe></p>

                                <span class="label label-primary">88,5 %</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="thumbnail">
                            <a href="http://places4all.com/poi/as-guarda-ns/" style="background-image:url(&#39;/media/1006/placeholder.png&#39;)" class="stretch"></a>
                            <div class="caption wrapper">
                                <a href="http://places4all.com/poi/as-guarda-ns/">
                                    <h4>Área de Serviço da Guarda (Norte/Sul)</h4>
                                </a>
                                <p style="text-align: center; word-wrap: break-word;"><iframe width="250" height="105" src="./place_list_files/GetEmbedBadge(3).html" frameborder="0"></iframe></p>

                                <span class="label label-primary">88,3 %</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="thumbnail">
                            <a href="http://places4all.com/poi/as-castelo-branco-ns/" style="background-image:url(&#39;/media/1006/placeholder.png&#39;)" class="stretch"></a>
                            <div class="caption wrapper">
                                <a href="http://places4all.com/poi/as-castelo-branco-ns/">
                                    <h4>Área de Serviço de Castelo Branco (Norte/Sul)</h4>
                                </a>
                                <p style="text-align: center; word-wrap: break-word;"><iframe width="250" height="105" src="./place_list_files/GetEmbedBadge.html" frameborder="0"></iframe></p>

                                <span class="label label-primary">87 %</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="thumbnail">
                            <a href="http://places4all.com/poi/as-salvaterra-de-magos-sn/" style="background-image:url(&#39;/media/1006/placeholder.png&#39;)" class="stretch"></a>
                            <div class="caption wrapper">
                                <a href="http://places4all.com/poi/as-salvaterra-de-magos-sn/">
                                    <h4>Área de Serviço de Salvaterra de Magos (Sul/Norte)</h4>
                                </a>
                                <p style="text-align: center; word-wrap: break-word;"><iframe width="250" height="105" src="./place_list_files/GetEmbedBadge(5).html" frameborder="0"></iframe></p>

                                <span class="label label-primary">86,6 %</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-right">
                    </div>
                    <div class="col-xs-4  text-center">
                        <label>Página 1</label>
                    </div>
                    <div class="col-xs-4 text-left">
                        <button id="next" class="btn btn-primary btn-sm">Seguinte</button>
                    </div>
                    <hr class="clear">
                </div>
            </div>
        </form>
        

    </div>

    <div class="row visible-print-inline">
        <div class="col-xs-12">
            <img src="~/Content/Images/logo-small.png" alt="Places4All" class="img-responsive">
        </div>
    </div>

    <footer>
        <div class="container hidden-print">
            <div class="row">

                <div class="col-xs-6 col-sm-2 col-lg-2">
                    <label class="bold">Places4All</label>
                    <ul class="list-unstyled">
                        <li><a href="~/Site/AboutUs">About us</a></li>
                        <li><a href="~/Site/Blog">Blog</a></li>
                        <li><a href="~/Site/Media">Media</a></li>
                        <li><a href="~/Site/Partners">Partners</a></li>
                        <li><a href="~/Site/Contact">Contacts</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-sm-2 col-lg-2">
                    <label class="bold">How it works</label>
                    <ul class="list-unstyled">
                        <li><a href="~/HowItWorks/#Methodology">Methodology</a></li>
                        <li><a href="~/HowItWorks/#WhoCanJoin">Who can join</a></li>
                        <li><a href="~/HowItWorks/#badge">The badge</a></li>
                        <li><a href="~/HowItWorks/#advantages">Advantages</a></li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-5">
                    <form>
                        <div class="form-group">
                            <label class="bold">Subscribe to our newsletter</label>
                            <input class="form-control dark" type="email" placeholder="Insert your email">
                        </div>
                        <button type="submit" class="btn btn-dimmed">Subscribe</button>
                    </form>
                    <ul class="list-inline social">
                        <li><a href="https://www.facebook.com/placesforall" class="fa fa-facebook"></a></li>
                        <li><a href="https://www.youtube.com/channel/UCpHn0NRhBpp6XwhNGpiC9-A" class="fa fa-youtube"></a></li>
                        <li><a href="https://plus.google.com/u/2/115813301172670932974/posts" class="fa fa-google-plus"></a></li>
                        <li><a href="https://www.linkedin.com/company/9291191?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A9291191%2Cidx%3A1-1-1%2CtarId%3A1441017666792%2Ctas%3Aplaces4all" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-3 powered hidden-print">
                    <label class="bold block">Powered by</label>
                    <a href="http://www.immensa.org/">
                        <img src="~/Content/Images/IMMENSA.png" class="show img-responsive" alt="Immensa" style="max-width:150px">
                    </a>
                </div><a href="http://www.immensa.org/">

                </a>
            </div><a href="http://www.immensa.org/">

                <div class="row">
                    <div class="col-xs-12 copyright">
                        © 2015 Places4All, all rights reserved
                    </div>
                </div>
            </a>
        </div><a href="http://www.immensa.org/">
        </a>
    </footer><a href="http://www.immensa.org/">

        


    

    </a><div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div></div>
</body></html>